<style>
.container {
      display: grid;
    grid-template-areas:
    "nav"
      "header"
      "aside"
      "content"
      "main"
      "article"
      "footer "
  }

  @media (min-width: 300px){
    .container{
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "nav nav"
        "header header"
        "content content"
        "main main"
        "article article"
      "footer footer ";
    }
  }

  @media (min-width: 400px){
    .container{
      grid-template-areas:
      /* Only change code below this line */
      "nav nav"
      "header header"
      "content content"
      "main main"
      "article article"
    "footer footer ";
      /* Only change code above this line */
    }
  }
  /* nav */
nav{
   grid-area: nav;
  background-color: white;
display: flex;
justify-content: space-between;
}
.nav-link{
  display: flex;
justify-content: space-evenly;
width: 300px;
}
li{
  list-style: none;
}
.nav-link a{
 text-decoration: none;
 font-size: 20px;
 font-family: "Sofia", sans-serif;
 font-weight: bold;
color: #0c1753;
}

/* header*/
 header {
   display: flex;
    grid-area: header;
    background:  linear-gradient(to bottom, #8d769a 0%, #28193d 100%);
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
.head{
  margin: 5%;
letter-spacing: 2px;
font-family:Lora, serif;
}
:is(.img2 , .f){
  margin: 30px;
}

.Butt{
  font-size: 25px;
  color: #00a69c;
  background-color: #ffe101;
  border: 2px solid #ffe101;;
  border-radius: 10px;
  height: 50px; 
  width: 150px;
  font-family: "Sofia", sans-serif;
}


h2{
color: #00a69c;
text-align: center;
font-size: 30px;
font-family: "Sofia", sans-serif;
}

/*aside*/
  aside{
    grid-area: aside;
      background:#f3e4fa;
      display: flex;
      justify-content:space-evenly;
      height: 300px;

}
:is(.img3 , .img4 , .img5 ){
background-color: white;
width: 200px;
height: 150px;
margin: 30px;
margin: 50px;
padding: 20px;
text-align: center;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/*content*/
content{
    grid-area: content;
      background:white; 
    }
    section{
      display: flex;
      justify-content: space-between;
      margin: 100px;
      color: Gray;
      font-size: 15px;
      line-height: 30px;
    }
   
/*main*/
    main{
      grid-area: main;
      display: flex;
        background:#0c1753;
        justify-content: space-between;
     color: white;
      }

.form{
  margin: 80px;
  color: white;
  font-size: 20px;
  font-family: "Sofia", sans-serif; 
}
:is(.textarea , .label) {
  border-color: #ffffff;
  border-width: 8px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
}

.name-city{
  border-color: #ffffff;
  border-width: 8px;
  width: 188px;
  border-style: solid;
  border-radius: 5px;
}
.submit{
  background-color: #ffe101;
  border-color: #ffe101;
  border-width: 8px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  color:#0c1753;
  font-size: 25px;
  font-family: "Sofia", sans-serif;
}
.hhh{
  margin: 100px;
  font-size: 50px;
  font-family: "font-family: Sofia", sans-serif;
}

/*article*/ 

article {
  grid-area: advert;
        display: flex;
        background: #f5edf5;
        justify-content: space-between; 
        height: 300px;
}
article ul a{
  text-decoration: none;
  font-size: 20px;
  font-family: "Sofia", sans-serif;
  line-height: 40px;
 color: #0c1753;
 }
 .ull{
  font-size: 25px;
  font-family: "Sofia", sans-serif;
  font-weight: bold;
 color: #00a69c; 
 grid-column-start: 1;
 grid-column-end: 4;
 }
 .meda{
   display: grid;
   grid-template-columns: repeat(3,minmax(90px,1fr));
 } 

/*footer*/
 footer{
  grid-area: footer;
  background:  linear-gradient(to bottom, #8d769a 0%, #28193d 100%);
  color: white;
  height: 30px;
  text-align: center;
 }
  footer a{
color: #0c1753;
  }

</style>